@import 'tailwindcss';
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui" {
  themes: light --default;
  /* exclude: rootscrollgutter; */
}

html,
body {
  scrollbar-gutter: unset !important;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.scrollbar-auto {
  scrollbar-gutter: auto !important;
}
