@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import "@zcat/ui/index.css";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


html,
body {
  scrollbar-gutter: unset !important;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.scrollbar-auto {
  scrollbar-gutter: auto !important;
}
